[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PSinference"]
	path = PSinference
	url = https://github.com/ricardomourarpm/psinference
